*{
	box-sizing: border-box;
}
body{
	margin:0px;
}
ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none !important;
}
p{
	margin: 0;
}
.clearfix{
	clear: both;
}
.video{
	position: relative;
	width: 100%;
	height: 80vh;
	overflow: hidden;
}
.bn-video{
	position: absolute;
	top:50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	transform: translate(-50%,-50%);
}
.banner .content{
	position: absolute;
	text-align: center;
	top: 70%;
	left: 50%;
	transform: translate(-50%,0%);
}
.banner img{
	width: 225px;
	margin-bottom: 40px;
}
.banner h2{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}
.fix-menu{
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #212121;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.31);
}
.menu-logo img{
	height: 25px;
}
.menu ul{
	
}
.menu li{
	position: relative;
	float: left;
	/*display: inline-block;*/
	margin-bottom: -3px;
}
.menu li:after{
	content: '';
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 4px;
	width: 100%;
	background-color: #0075ff;
	opacity: 0;
	transition: 0.3s;
}
.menu li:hover:after{
	opacity: 1;
}
.menu a{
	color: #fff;
	font-size: 16px;
	padding: 0 20px 0 20px;
	transition: 0.3s;
}
.menu li:hover a{
	color: #0075ff;
}






















